/**/
@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import "../css/fl-chapps.css";
@import "../css/font-awesome.css";

html {
	width: 100%;
}

 a[href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}


body {
	font: 12px/20px Arial, Helvetica, sans-serif;
	color:#828282;
	position:relative;
	min-width:960px;
	height: 100%;
	min-height: 100%;
	/*background:  #738fc2;*/
	background-color:  white;
}

.page {
	background: #738fc2;
}

html, body {
	height:100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #353535;
}

h2 {
	font-size: 22px;
	line-height: 24px;	
}

h1{
	font-size: 22px;
	line-height: 24px;
	margin-bottom:20px;
	margin-top:10px;		
}

h3:after {
	background: #000;
	content: '';
	position: absolute;
	bottom: -6px;
	left: 0;
	opacity: 0.17;
	right: 0;
	display: block;
	height: 6px;
}

p {
	margin-bottom: 20px;
}

p.p1 {
	margin-bottom: 9px;
}

p.p2 {
	margin-bottom: 13px;
}

p.p3 {
	margin-bottom: 4px;
}

p.p4 {
	margin-bottom: 25px;
}

p.text1 {
	

	margin-bottom: 14px;
}




img {
	max-width: 100%;
}

address {
	font-style: normal;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list li{
	background: url(../images/marker-1.gif) 0 7px no-repeat;
	font-weight: bold;
	color: #005E9C;
	margin-bottom: 10px;
	padding-left: 24px;
}

ul.list li a:hover {
	text-decoration: underline;
	color: #828282;
}

/*links*/

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	
}

a:hover {
	color: #005E9C;
}

a.btn {
	color: #fff;
	display: inline-block;
	padding: 8px 16px 7px;
	margin-top: 24px;
	border-radius: 5px;
	box-shadow: 0 1px 2px #b2b5b7;
	background: url(../images/btn_bg.png) 0 0 repeat-x #6e8abd;
	text-shadow: 0 1px #4466b0;
	font-weight: bold;

}

a.btn:hover {
	background: #f2f4f8;
	color: #828282;
	
	text-shadow: none;
}

/*preclass*/

.mb0 {
	margin-bottom: 0px !important;
	margin-left:0px !important;
}
.m0 {
	margin: 0 !important;
}

.mb1 {
		margin-bottom: 521px;

}
.pad0 {
	padding: 0 !important;
}

.pad1 {
	padding-right: 30px;
}

.pad2 {
	padding-left: 20px;
	padding-right: 60px;
}

.pt0 {
	padding-top: 0;
}


.page1 .img_inner, .img_inner.inn1   {
margin-top: 10px;
margin-bottom: 15px;
}

.img_inner {
	max-width: 100%;
	margin-bottom: 25px;
	border: 1px solid #fff;
	border-radius: 7px;
	margin-top: 5px;
	box-shadow: 0 0 3px #999;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}


.fleft {
	float: left;
	margin-right: 22px;
	margin-top: 5px;
	margin-bottom: 0;
}

.fright {
	float: right !important;	
}

.upp {
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 1px;
}


.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}

.col1 {
	color: #005E9C;	
}


.text1 {
	text-transform: uppercase;
	color: #005E9C;
	margin-bottom: 4px;
}

.text1 a:hover  {
	color: #828282;
}

.col1 a:hover {
	text-decoration: underline;
	color: #828282;
}

.page1 .hor_separator {
	margin-top: 39px;
}
.hor_separator.hor1 {
	margin-top: 25px;
}
.hor_separator {
	border-top: 1px solid #d9e3e7;
	border-bottom: 1px solid #fff;
	margin-top: 30px;
}

/*header*/

.page {
	background: url(../images/bg_body.png) 0 0 repeat;
}

header {
	display: block;
	padding-top: 9px;
	position: relative;
	z-index: 999;
	padding: 43px 0 0px;
	background: url(../images/header_bg.png) 0 0 repeat-x;

}

header h1 {
	float: left;
	padding-bottom: 34px;
}
header h1 a {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	max-width: 350px;	
	text-indent: -999px;
}

header h1 a img {
	display: block;	
}

header .logo1 {
	float: right;
	padding-bottom: 24px;
	color: #444444;	
	
}

header .links a {
	display: inline-block;
	margin-left: 21px;
	position: relative;

}

header .links a:first-child:after {
	display: none;
}

header .links a:after {
	left: -11px;
	display: block;
	width: 1px;
	height: 11px;
	content: '';
	background: #b2c1d3;
	position: absolute;
	pointer-events: none;
	top: 6px;
}

header .links a:hover {
	text-decoration: underline;
}

.search_block {
	float: left;
	border-left: 1px solid #fff;
	overflow: hidden;
	position: relative;
	padding: 15px 13px 15px 15px;
}

.search_block a {
	display: block;
	position: absolute;
	width: 31px;
	height: 31px;
	right: 14px;
	top: 16px;
	background: url(../images/search_icon.png) 0 0 no-repeat;
	z-index: 999;
}

.search_block a:hover {
	cursor: pointer;
	opacity: 0.5;
}


#search input {
	border: 1px solid #d8d8d8;
	border-radius: 7px;
	height: 32px;
	position: relative;
	z-index: 500;
	box-shadow: inset 0 0 2px #d8d8d8;
	float: left;
	line-height: 18px;
	font-size: 12px;
	color: #828282;
	padding: 7px 12px 7px;
	font-family:  Arial, Helvetica, sans-serif;
	background: #f8f9fb;
	width: 236px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}

#search input:focus {
	box-shadow: inset 0 0 2px #005E9C;
}

/*Content*/


.content {
	border: none;
	position: relative;
	padding: 20px 0 63px;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 1px #d6dbe5;

}
.content.page1 {
	position: relative;
	top: -33px;
	border-top: 1px solid #fff;
	padding: 0 0 ;
	padding-bottom: 33px;
	box-shadow: 0 0 3px #d6dbe5;
}


.content.page1 h2 {
	padding-top: 31px;
	margin-bottom: 22px;
	font-weight:bolder;
}

.content h2 {
	padding-top: 31px;
	margin-bottom: 22px;
}

.content .privacy h2 {
	margin-bottom: 21px;
}

.icon {
	float: left;
	margin-right: 10px;
	margin-top: -6px;
}

.new {
	overflow: hidden;
}

.new .hor_separator {
	margin-top: 5px;
	margin-bottom: 18px;
	margin-left:130px;
}

.new .hor_separator.mb0 {
	margin-bottom: 7px !important;
}

.new time {
	float: left;
	background: url(../images/time_icon.png) 0 5px no-repeat;
	color: #353535;
	font-size: 64px;
	line-height: 42px;
	font-weight: bold;
	text-align: center;
	padding-top: 46px;
	margin-right: 9px;
	height:124px;
	width:124px;
	color:white;
	text-shadow: black 0.1em 0.1em 0.3em;
}

.new time span {
	text-transform: uppercase;
	display: block;
	font-size: 14px;
	position: relative;
	top: -4px;
	
}

.new p {
	margin-bottom: 9px;
}

.block1 {
	padding-top: 20px;
}

.block1 .text1 {
	position: relative;
	top: 5px;
}

.block1 .clear {
	height: 16px;
}

blockquote {
	padding-top: 5px;
	margin-bottom: 21px;
}

blockquote p {
	background: url(../images/quotes.png) 14px 17px no-repeat #f3f7f9;
	border: 1px solid #fff;
	padding: 33px 15px 20px 24px;
	border-radius: 6px;
	box-shadow: 0 0 3px #bbb;
	margin-bottom: 0;
}

.quote_bot {
	background: url(../images/quote_bot.png) 0 0 no-repeat;
	margin-top: -1px;
	padding-top: 33px;
	position: relative;z-index: 999;
}

.quote_bot a {
	position: relative;
	top: -3px;
}

.banner {
	max-width: 100%;
	margin-bottom: 25px;
	border: 1px solid #fff;
	border-radius: 7px;
	background: #f1f6f9;
	background: url(../images/banner_bg.jpg) right bottom no-repeat #f1f6f9;
	box-shadow: 0 0 3px #999;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 padding: 21px 95px 25px 18px;
 margin-top: 41px;
}

.banner .col1 {
	padding-top: 6px;
}


.banner h2 {
	line-height: 24px;
	padding-top: 0;
	margin-bottom: 19px;
}

.banner a.btn {
	margin-top: 8px;
}

.gallery img.img_inner {
	margin-bottom: 15px;
}

.gallery .clear {
	height: 14px;
}

.blog {
	padding-top: 5px;
	overflow: hidden;
	margin-bottom: 29px;
}

.blog time {
	float: left;
	background: url(../images/time_icon.png) 0 0px no-repeat;
	color: #353535;
	font-size: 13px;
	width: 32px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	padding-top: 7px;
	margin-right: 12px;
	position: relative;
	top: -1px;
}

.blog time span {
	text-transform: uppercase;
	display: block;
	font-size: 12px;
	line-height: 20px;
	position: relative;
	top: -2px;
	padding-bottom: 2px;
}

.maior{
	font-size:16px;
}

.blog .img_inner {
	margin-top: 3px;
}
/****Map***/

.map {
	padding-top: 4px;

}

.map figure {

		 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 margin-bottom: 14px;
 display: block;
 margin-top: 0;

}
.map figure iframe {
	width: 100%;
	height: 313px;
	max-width: 100%;
	border-radius: 7px;
}

.map p {
	display: block;
	padding-top: 11px;
	margin-bottom: 8px;
}

address dd span {
	min-width: 70px;
	display: inline-block;
}



.map address {
}
/************Footer***********/

.page1 footer {
	margin-top: -33px;

}

footer {
	display: block;
	padding-top: 25px;
	padding-bottom: 35px;
	
	background: #eaeef4;
	background: url(../images/bg_footer.png) 0 bottom repeat-x #eaeef4;
}

footer .links {
	float: right;
	position: relative;
	font-size:24px;
}

footer a:hover {
	text-decoration: none;	
}


/**to top**/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:50px;
	left: 50%;
	margin-left: 550px;
	overflow:hidden;
	width:64px;
	height:64px;
	z-index: 999;
	border:none;
	text-indent:-999px;
	z-index:20;
	background:url(../images/totop.png) no-repeat left top;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
#toTop:hover {
	outline:none;
	background-position: 0 bottom;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
 body {
min-width:768px;
}


.map address {
	margin-right: 10px;
}


 .map figure, .map figure iframe, #form input, #form textarea, #form .success {
 width: 100% !important;
}
 #form .success {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}

.extra_wrapper {
	overflow: visible ;
}


.pad1, .pad2, .pad3 {
	padding: 0;
}

a.comment {

	margin-left: 0px;
}


.page1_block img  {
	width: 20%;
}

.slider_wrapper {
	height: 346px !important;
}


.camera_pag li span {
	height: 10px !important;
	width: 50px !important;
}

.banner {
	padding-right: 20px;
	padding-bottom: 220px;

}

}
 @media only screen and (max-width: 767px) {
 body {
min-width:420px;
}

.banner {
 padding: 21px 95px 25px 18px;

}

ul.list {
	margin-bottom: 20px;
}


.gallery .clear {
	height: 0px;
}

.banner {

}

.block1 .clear {
	height: 0px;
}

.block1 .text1 {
	padding-top: 20px;
}
.camera_pag  {
	bottom: 10px !important;
}

.slider_wrapper {
	height: 194px !important;
	background-image: none !important;
}


.caption {
	display: none;
}

.map address {
	margin-right: 0px;
	margin-bottom: 20px;
}


a.comment {
	margin-left: 20px;
}

header h1 {
	margin-bottom: 20px;
}




.img_inner.fleft {
	float: none;
	margin-bottom: 13px;
}



.img_inner {
width: 100%;
float: none !important;
margin-right: 0 !important;
margin-bottom: 20px !important;
margin-top: 20px !important;
}



header h1 {
	float: none;
	position: relative;	
	padding-top: 10px;
}

header h1 a {
	margin: 0 auto;
	height: auto;
}

header h1 a img {
	width: 100%;
}


.map figure iframe {
	width: 100%;
	height: 300px;
}

	.search_block {
		float: none;
		padding: 0;
		position: relative;
		margin-top: 20px;
	}

	#search input {
		width: 100%;
	}

.search_block a  {
	top: 1px;
	right: 1px;
}

header .links {
	float: none;
	padding-top: 0;
	text-align: center;
}

footer .links {
	float: none;
	padding-bottom: 20px;
}
}
 @media only screen and (max-width: 479px) {
 
body {
min-width:300px;
}

.slider_wrapper {
	height: 139px !important;
}


 .map figure iframe {
	width: 100%;
	height: 150px;
}

 }

table {
	border:1px solid #005E9C;	
	
}

table p{
	margin-bottom: 0px;
}

table th p{
	margin:10px;
}

table td {
	border:1px solid #005E9C;
	padding:10px;
	font-size:14px;
	
}

table th {
	border:1px solid #005E9C;
	text-align:left;
	font-size:16px;
	vertical-align:middle;	
	padding-left:10px;
	padding-right:10px;
}
/*==================   List1   ======================*/
.list1 {
  text-align: center;
}
.list1 i {
  display: inline-block;
  font-size: 48px;
  font-family: 'Chapps';
  width: 164px;
  height: 164px;
  line-height: 164px;
  text-align: center;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.list_small {
  text-align: center;
}
.list_small i {
  display: inline-block;
  font-size: 24px;
  font-family: 'Chapps';
  width: 82px;
  height: 82px;
  line-height: 82px;
  text-align: center;
  border: 2px solid #005E9C;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color:#005E9C;
}

.list_small h6{
	font-size:16px;
	margin-top:20px;
}

.list_small h6 em{
	font-size: 26px;
    padding-top: 0px;
    padding-bottom: 0px;
	margin-top:20px;
	padding:10px;
	font-weight:bold;
}

h6 em, .privacy dt em {
  display: block;
  font-size: 48px;
  padding-top: 9px;
  padding-bottom: 10px;
}

h6 a:hover, .privacy dt a:hover {
  color: #c10320;
}