
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/

/*
verde:#1ab188;
Azul Escuro:#13232f;
cinzinha divisósias:#e1e1e1;
azuzinho-cinza:#f0f5f5;


*/


body {
    font-family: 'Open Sans', sans-serif;
    line-height:30px;
}

 #wrapper {
    width: 100%;
    margin-top:50px;
}

#page-wrapper {
    padding: 15px 15px;
    background:#1ab188;
   
}
#page-inner {

    width:100%;
    margin:10px 10px 10px 0px;
    background-color:#fff;
}
.pad-top {
    padding-top:15px;
}
/*==============================================
    MENU STYLES    
    =============================================*/

z
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/

/*
verde:#1ab188;
Azul Escuro:#13232f;
cinzinha divisósias:#e1e1e1;
azuzinho-cinza:#f0f5f5;


*/


body {
    font-family: 'Open Sans', sans-serif;
    line-height:30px;
}

 #wrapper {
    width: 100%;
    margin-top:50px;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#1ab188;
   
}
#page-inner {

    width:100%;
    height: 100;
    margin:10px 10px 10px 0px;
    background-color:#fff;
    min-height:600px;
}
.pad-top {
    padding-top:15px;
}
/*==============================================
    MENU STYLES    
    =============================================*/

.sidebar-collapse .nav {
	padding:0;
    padding-top:50px;
}

.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
    color: #13232f;
    font-weight: 900;
    font-size: 16px;
}
.sidebar-collapse > .nav > li {
	border-bottom:1px solid #e1e1e1;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	color: #FFF;
	background:#1ab188;
	outline:0;
}

.navbar-side {
	border:none;
	background-color: #fff;
	
}
.navbar-inverse {
background-color: #13232f;
min-height: 80px;
}


.nav > li > a > i {
    margin-right:10px;
}
.logout-spn {
    float:right;
    color:#fff;
    font-size:25px;
    font-weight:800;
    padding: 20px;
    
}
    .logout-spn a {
        text-decoration:none;
    }
.active-link {
    color:#fff;
    background-color:#1ab188;
}
.sidebar-collapse > .nav > li.active-link > a {
    color: #fff;
}

img.logo{
    margin: 0;
    width: 110px;
    height: 60px;
}
    
/*==============================================
    DASHBOARD STYLES    
    =============================================*/
.div-square {
    text-align: center;
    padding: 15px;
    padding-bottom: 5px;
    border:3px solid transparent;
    margin:5px;
}
.div-square:hover {
    border:3px solid #1ab188;
}
.div-square> a{
    color:#13232f;
     text-decoration:none;
}
.div-square:hover >a {
    color:#1ab188;
    text-decoration:none;
}

.div-square > a > h4 {
font-size: 120%;
}
/*==============================================
    FOOTER STYLES     
    =============================================*/
.footer {
    background-color:#13232f;
    width:100%;
    color:#fff;
    padding:20px 50px 20px 50px;
     padding-left:20px;
}


    .footer > a, .footer>a:hover {
       
        color:#fff;
    }

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
        margin: 0 0 0 260px;
        padding: 15px 15px;
        min-height: 600px;
		
    }
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
       
    }

}

.caixa{
    border: 3px solid #fff;
    border-color: white;
    text-align: center;
    background-color: #f0f5f5;
    padding: 2%;
    padding-bottom: 2%;
    float:left;
    border-bottom: 10px;
}

.button {
  margin-top: 10%;  
  font-size: 110%;
  background-color: #1ab188;
  opacity: 1;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 2rem 3rem;
  font-weight: bold;
  letter-spacing: .6px;
  transition: background-color .5s ease;
  cursor: pointer;
  }
 a.button:hover {
     position: static;
    color: #fff;
    text-decoration:none;
    background-color: #1ab188;
    opacity:.85;
  }

.caixa > h1{
    font-size: 200%;
}
.sidebar-collapse .nav {
	padding:0;
    padding-top:50px;
}

.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
    color: #13232f;
    font-weight: 900;
    font-size: 16px;
}
.sidebar-collapse > .nav > li {
	border-bottom:1px solid #e1e1e1;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	color: #FFF;
	background:#1ab188;
	outline:0;
}

.navbar-side {
	border:none;
	background-color: #fff;
	
}
.navbar-inverse {
background-color: #13232f;
min-height: 80px;
}


.nav > li > a > i {
    margin-right:10px;
}
.logout-spn {
    float:right;
    color:#fff;
    font-size:25px;
    font-weight:800;
    padding: 20px;
    
}
    .logout-spn a {
        text-decoration:none;
    }
.active-link {
    color:#fff;
    background-color:#1ab188;
}
.sidebar-collapse > .nav > li.active-link > a {
    color: #fff;
}

img.logo{
    margin: 0;
    width: 110px;
    height: 60px;
}
    
/*==============================================
    DASHBOARD STYLES    
    =============================================*/
.div-square {
    text-align: center;
    padding: 15px;
    padding-bottom: 5px;
    border:3px solid ;
    margin:5px;
}
.div-square:hover {
    border:3px solid #1ab188;
}
.div-square> a{
    color:#13232f;
     text-decoration:none;
}
.div-square:hover >a {
    color:#1ab188;
    text-decoration:none;
}

.div-square > a > h4 {
font-size: 120%;
}
/*==============================================
    FOOTER STYLES     
    =============================================*/
.footer {
    background-color:#13232f;
    width:100%;
    color:#fff;
    padding:20px 50px 20px 50px;
     padding-left:20px;
}


    .footer > a, .footer>a:hover {
       
        color:#fff;
    }

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
        margin: 0 0 0 260px;
        padding: 15px 15px;
		
    }
	
	
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
       
    }

}

.caixa{
    border: 3px solid #fff;
    border-color: white;
    text-align: center;
    background-color: #f0f5f5;
    padding: 2%;
    padding-bottom: 2%;
    float:left;
    border-bottom: 10px;
}

.button {
  margin-top: 10%;  
  font-size: 110%;
  background-color: #1ab188;
  opacity: 1;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 2rem 3rem;
  font-weight: bold;
  letter-spacing: .6px;
  transition: background-color .5s ease;
  cursor: pointer;
  }
 a.button:hover {
     position: static;
    color: #fff;
    text-decoration:none;
    background-color: #1ab188;
    opacity:.85;
  }

.caixa > h1{
    font-size: 200%;
}




.feed-item{
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  background: white;
  padding-left: -100px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  transition:  0.7s;
  
}
.feed-item .icon-holder{
  width: 55px;
  float: left;
  margin: 21px 20px 0 25px;
}
.feed-item .icon-holder .icon{
  width: 55px;
  height: 55px;
  border-radius: 100%;
  float: left;
  background-image: url('https://lh3.googleusercontent.com/-Az9OhFIaxEY/AAAAAAAAAAI/AAAAAAAAAAA/iHtDLHxQMFc/photo.jpg');
  background-size: 55px 55px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.feed-item .text-holder{
  margin-top: 22px;
  width: 75%;
  float: left;
}
.feed-item .spacer{
  width: 10%;
  float: left;
}
.feed-description{
  font-size: .9em;
  font-weight: 300;
  color: #888;
  height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-options-holder{
  float: right;
  height: 100%;
  width: 30px;
  background: #EEE;
  padding: 12px;
  transition: background 0.2s;
}
.post-options-holder:hover{
  background: #DDD;
}
.feed-title{
  font-size: .9em;
  font-weight: 500;
}
.toolbar .tools{
  padding-top: 15px;
  position: fixed;
  right: 20px;
}
.toolbar .tools ul{
  list-style-type: none;
}
.toolbar .tools ul li{
  display: inline;
  padding-left: 2px;
}
#search, #settings, #hamburger, #postsettings{
  color: #FFF;
  cursor: pointer;
}
