
#paginacao
{
	width:10000px;
	background-color:red;
}
#colorida h1{
  color: black;
  }

#colorida{
  padding-top: 20px;
    height: 150px;
	width:100%;

}


#estadousuario{
	background-color:#C1CDC1;
  border-radius: 10px 20px 30px;
  transition:all 0.6s ease;
  font-family: arial;
	
}
h5{
font-family: arial;

}

a:link {
color:black;
text-decoration:none;
}

a:hover {
	text-decoration: none; 
	color: black;
	}

a:active {
color:black;
text-decoration:none;
}

.grow:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.button {
  background-color:#20ad54;
   padding:10px;
    border-radius:10px;
  border-bottom:1px solid white;

 
}
.number
{
	text-align: center;
	font-size:15px;
	color: #c8c8c8;
}
.numberact
{
    
	text-align: center;
	font-size:18px;
	color:#378747;
}
.textoact
{
	text-align: center;
	font-size:18px;
	color: #378747;
}
.texto
{
	text-align: center;
	font-size:15px;
	color: #c8c8c8;
}
.parte-user.actived
{
	
	margin-top: 10px;
	width: 200px;
    line-height: 0;
    padding:15px 0;
    font-weight: 700;
    display: inline-block;
    border-radius:50px;
    cursor: pointer;
	background-color:transparent;
	border: solid 2px  #378747;

}


.border
{
	
	margin-top: 10px;
	width: 200px;
    line-height: 0;
    padding:15px 0;
    font-weight: 700;
    display: inline-block;
    border-radius:50px;
    cursor: pointer;
	background-color:transparent;
	border: solid 2px  #c8c8c8;
	
	
}
	
.container-fluidcad{
  background-color:white;
  width:100%;

}
.container-fluida{
  background-color:white;
  width:100%;

}
.row
{
	
	 width:100%;
}

/*Cadastrar */
#maelogin{

	background-color:#d9f8fc;
width: 100%; /* Valor da Largura */

  
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  	padding:60px;
	width:100%;
}
#contact_form {
width:100%;
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
  width: 360px;
  margin: 0 auto 100px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   font-size:16px;
}


#entrar {
	width:100%;
  text-transform: uppercase;
  outline: 0;
  background-color: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-left:-30px;
  margin-bottom:15px;
}

#entrar:hover{
	width:100%;
  background: #43A047;
}

#entrar:active{
	width:100%;
  background: #43A047;
}
#entrar:focus{
	width:100%;
  background: #43A047;
}
.table 
{
	width:100px;
}
