/*https://mdbootstrap.com/docs/jquery/css/colors/*/
-- 
*{font-family: 'Baloo 2', cursive;}
.letra2{font-family: 'Noto Sans SC', sans-serif; }
.letra3{font-family: 'Maven Pro', sans-serif;}

/*	HOME	*/
.bg-home{
	background-image: url('../img/bg_4.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
}
.text-shadow{text-shadow:3px 8px 12px black;}

.hover-effect:hover h3, .hover-effect:hover i.hover{ color: #ffc107;}


/*	PAGINATION	*/
.pagination > li > button
{
    background-color: white;
    color: var(--yellow);
}

.pagination > li > button:focus,
.pagination > li > button:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: var(--yellow);
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > button.page-link
{
    color: white;
    background-color: var(--yellow);
    border: solid 1px var(--yellow);
}

.pagination > .active > button:hover
{
    background-color: var(--yellow);
    border: solid 1px var(--yellow);
}

/* SIGNIN*/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* DROPDOWN*/
.dropdown-menu>a.active, .dropdown-menu>a:hover, .dropdown-menu>a:focus{
background-color: #ffc107;
color: #fff;
}
.dropdown-menu>a:focus{
background-color: #fff;
color: #ffc107;
}

/*SUBMENU DROPDOWN*/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
