@font-face {
	  font-family: "brandon";
      src: url('../fonts/brandonreg.otf') format("opentype");
  }

  
  
body {

  color: black;
   font-family:brandon;
  

}
.linkinho{
	
}

.btn{
	padding:10;
}

.botaozinho{
	font-size:18px;
	padding-top:10px;
	padding-right:35px;

	
}

.botaozinho a: hover{
  font-size:18px;
  padding-top:10px;
  padding-right:35px;
  background-color:magenta;
  
}

#pesquisar{
	width:500px;
}

.textodiv{
font-size: 16px;
padding-top:8px;
}


#fotinha1
{
	padding-left:30px;
}



#colorida h1{
  color: black;
  }

#colorida{
  padding-top: 20px;
    height: 150px;
	width:100%;

}


#estadousuario{
	background-color:#C1CDC1;
  border-radius: 10px 20px 30px;
  transition:all 0.6s ease;
  font-family: arial;
	
}
h5{
font-family: arial;

}

a:link {
color:black;
text-decoration:none;
}

a:hover {
	text-decoration: none; 
	color: black;
	}

a:active {
color:black;
text-decoration:none;
}

.grow:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
	


a.linkquatro{
  margin-left: 25px;
  text-decoration: none;
  color: #cc0066;
}

a.linkquatro:hover {
  text-decoration: none;
  color: #ff99cc; 

}

.button {
  background-color:#20ad54;
   padding:10px;
    border-radius:10px;
  border-bottom:1px solid white;

 
}
.number
{
	text-align: center;
	font-size:15px;
	color: #c8c8c8;
}
.numberact
{
    
	text-align: center;
	font-size:18px;
	color:#378747;
}
.textoact
{
	text-align: center;
	font-size:18px;
	color: #378747;
}
.texto
{
	text-align: center;
	font-size:15px;
	color: #c8c8c8;
}
.parte-user.actived
{
	
	margin-top: 10px;
	width: 200px;
    line-height: 0;
    padding:15px 0;
    font-weight: 700;
    display: inline-block;
    border-radius:50px;
    cursor: pointer;
	background-color:transparent;
	border: solid 2px  #378747;

}


.border
{
	
	margin-top: 10px;
	width: 200px;
    line-height: 0;
    padding:15px 0;
    font-weight: 700;
    display: inline-block;
    border-radius:50px;
    cursor: pointer;
	background-color:transparent;
	border: solid 2px  #c8c8c8;
	
	
}
	
.container-fluidcad{
  background-color:white;
  width:100%;

}
.container-fluida{
  background-color:white;
  width:100%;

}
.row
{
	
	 width:100%;
}
a.linkmapinha:link
{
	text-decoration: none;
  color: black;
}


a.linkmapinha:hover {
  text-decoration: none;
  color: black; 

}
a.linkmapinha:active {
	text-decoration:none;
color: black; 

}

a.linkmapinha:visited {
    text-decoration: none;
	color: black;
}
