body {
  color: #5a5a5a;
    font-family:brandon;

}


a.link-preto, a.link-preto:hover, a.link-preto:active, a.link-preto:visited{
	text-decoration: none;
	color: black;
}

a.mapinhas:link, a.mapinhas:hover, a.mapinhas:active, a.mapinhas:visited{
	text-decoration: none;
	color: white;
}

.dia{
	color: #53c859;
}

.post-content{
	height: 150px;
	margin-bottom: 5px;
}

.title{
	
	/*color: #53c653;*/
}
.title1{

	color: red;
}

.thumbnail{ 
	border-color: transparent !important; 
	/*background-color: #53c653;*/
	}

@media (max-width: 770px)
{
	.post-content{
	height: 100px;
	margin-bottom: 5px;
	}
	
	.thumbnail{
		width: 75%;
		height: auto;
	}
}

#estadousuario{
	background-color:#53c653;
  border-radius: 10px 20px 30px;
  transition:all 0.6s ease;
  font-family: arial;
	
}



