/*html {
  position: relative;
  min-height: 100%;
 
  
  }*/
 

@font-face {
	  font-family: "brandon";
      src: url('../fonts/brandonreg.otf') format("opentype");
  }

  
body {
  padding-bottom: 40px;
  color: #5a5a5a;
    font-family:brandon;
	width:100%;

}



.active{
	font-size:18px;
	padding-top:10px;
	
}

.botao{
	font-size:18px;
	padding-top:10px;

	
}

.btn{
	padding:10;
}

.botaozinho{
	font-size:18px;
	padding-top:10px;
	padding-right:35px;

	
}

.botaozinho a: hover{
  font-size:18px;
  padding-top:10px;
  padding-right:35px;
  background-color:magenta;
  
}

#pesquisar{
	width:500px;
}




a:link 
{ 
 text-decoration:none; 
 
}

i.glyphicon {
    font-size: 1.5em;
    padding:5px;
    color:#363636;

}

#maelogin{

	background-color:#d9f8fc;
width: 100%; /* Valor da Largura */

  
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  	padding:60px;
	width:100%;
}


/*Cadastrar */

#contact_form {
width:100%;
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
  width: 360px;
  margin: 0 auto 100px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   font-size:16px;
}


#entrar {
	width:100%;
  text-transform: uppercase;
  outline: 0;
  background-color: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-left:-30px;
  margin-bottom:15px;
}

#entrar:hover{
	width:100%;
  background: #43A047;
}

#entrar:active{
	width:100%;
  background: #43A047;
}
#entrar:focus{
	width:100%;
  background: #43A047;
}
.row
{
	height:100%;
width:100%;
}
