
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face {
	  font-family: "brandonreg";
      src: url('../fonts/brandonreg.otf') format("opentype");
  }

body {

  color: #5a5a5a;
 
}
html {
  position: relative;
  min-height: 100%;
  
  }
  


/
/* You could use :after - it doesn't really matter */


#unidade{
  padding: 10px;
  color:black;
  letter-spacing: 0.25em;
   word-spacing: 0.25em;
   font-weight: bolder;

}



i.glyphicon {
    font-size: 1.5em;
    padding:5px;
    color:#363636;

}

#maelogin{
	background-color:#d9f8fc;
width: 100%; /* Valor da Largura */
 height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  	padding:60px;


}


/*Login */

#form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 360px;
  margin: 0 auto 100px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   font-size:16px;
}

#loginsenha{
  outline: 0;
  background: #f2f2f2;
 width:250px;
 
 
}

#loginemail{
  outline: 0;
  background: #f2f2f2;
  width:250px;

 
}

#entrar {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-left:-30px;
  margin-bottom:15px;
}

#entrar:hover{
  background: #43A047;
}

#entrar:active{
  background: #43A047;
}
#entrar:focus{
  background: #43A047;
}

#esquecisenha {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
 
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  
  
}

#esquecisenha:hover{
  background: #43A047;
}

#esquecisenha:active{
  background: #43A047;
}
#esquecisenha:focus{
  background: #43A047;
}

#modaltexto{
	font-size:20px;
	align-items: center;
	margin-bottom:20px;
	
}

#esquecisenhaemail{
	width:100%;
	
}


.popover-title { 
color: black;
background-color:#FF6666;
 }  

.popover-content {
    color: black;
}


