.button{ background-color:transparent; border: none; outline:none;}

a.link-preto, a.link-preto:hover, a.link-preto:active, a.link-preto:visited{
	text-decoration: none;
	color: black;
}

.dia{
	color: #53c859;
}

.post-content{
	height: 150px;
	margin-bottom: 5px;
}

.title{
	margin-top: 3px;
	/*color: #53c653;*/
}

.thumbnail{ 
	border-color: transparent !important; 
	/*background-color: #53c653;*/
	}
	
.thumbnail>img{
	height: 230px;
}

@media (max-width: 770px)
{
	.post-content{
	height: 100px;
	margin-bottom: 5px;
	}
	
	.thumbnail{
		width: 75%;
		height: auto;
		margin-bottom: 0px;
	}
	
	.thumbnail>img{
	height: 150px;
	width: auto;
	}
	
	.title{
	margin-top: 3px;
	margin-bottom: 10px;
	font-size: 20px;
	/*color: #53c653;*/
	}
}

/*MUDANDO COR DEFINIDA NO BOOTSTRAP*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #53c653;
  border-color: #53c653;
}
.pagination > li > a,
.pagination > li > span {
  color:#53c653;
}



