@font-face{
	  font-family: "brandon";
      src: url('../fonts/brandonreg.otf') format("opentype");
  }
 
body{
  color: black;
  font-family:brandon;
}

.container-fluidtest{
	width:100%;
}

.row{
	width:100%;
}

.divsob{
  background-color: white;      
}

.divdados{
  background-color: white;
  height: 110px;
  width: 250px;
}

.texto{
	text-align: center;
	color: #c8c8c8;
}

#info{
	width:200px;
	height:158px;
	text-align:center;
	position: relative;
}

#ferramentas{
	width:180px;
	height:172px;
	text-align:center;
	position: relative;
}

.img-centro{
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

