@font-face 
{
	  font-family: "brandon";
      src: url('../fonts/brandonreg.otf') format("opentype");
  }

/* FONTE */
body
{
	font-family: brandon;
}
a:hover
{
	text-decoration:none;
	color:black;
}
.linkinho
{
text-decoration:none;
color:black;
}
linkinho:hover
{
	color:red;
}
.excluidinho
{
text-decoration:none;
color:#c60909;
}
button {

    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
/*MUDANDO COR DEFINIDA NO BOOTSTRAP*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #53c653;
  border-color: #53c653;
}
.pagination > li > a,
.pagination > li > span {
  color:#53c653;
}
