/*TEXTO*/


.fonte{
	font-size: 12px;
	text-align: left;
}

.imagem_noticia{
	
	margin-right: 12px;
	width: 500px;
}

.titlenoticia{
	font-size: 40px;
}

a.link, a.link:hover, a.link:active, a.link:visited{
	text-decoration: none;
	
}

#textoeimagem{
	font-family: sans-serif;
	text-align: justify;
	font-size: 15px;
	line-height: 25px;
}

.col-lg-12{
	padding: 0px !important;
}

@media (max-width: 770px)
{	
	.imagem_noticia{
	width: 100%;
	}
	
	.titlenoticia{
		font-size: 20px;
	}
}

/*ler mais curiosidades*/
.imagem_curiosidade{
	
	margin-right: 12px;
	width: 500px;
}